<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a  target="_blank" href="https://www.youtube.com/watch?v=ora5jY7yIEw" class="nav-link px-2 text-muted">Youtube</a></li>
      <li class="nav-item"><a  target="_blank" href="https://www.coursera.org/specializations/machine-learning-introduction" class="nav-link px-2 text-muted">Courses</a></li>
      
      <li class="nav-item"><a target="_blank" href="https://nextgrid.ai/tag/hackathon/" class="nav-link px-2 text-muted">Events</a></li>
      <li class="nav-item"><a  target="_blank" href="https://codeandlearn.hashnode.dev/" class="nav-link px-2 text-muted">Blogs </a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2023 code and learn,Inc</p>
  </footer>
</div>
