<!DOCTYPE html>
<html>
  <head>
    <title>code and learn </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="https://pythonwebsite--pushpitkamboj.repl.co/static/banner.jpg" >
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        {{organisation_name}} Careers
      </h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
      <p class="lead">
        code and learn is a leading content provider specializing in AI and its modern applications. We offer expert articles, engaging video tutorials, and interactive webinars to educate and empower individuals and organizations in the field of AI. Join our team and be part of the cutting-edge advancements in AI content creation. Apply now and contribute to shaping the future of AI knowledge dissemination with AI insights.
      </p>
        </div>
        <div class="d-none d-md-block col-md-6">
        <img src="/static/people.jpeg" style="height:320px;border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a class="btn btn-primary btn-lg" href" mailto:pushpitkamboj@gmail.com?subject=application%20job%200 &body=my%20name%3A%20%3Cyour%20name%20here%3E%0D%0Amy%20resume%20link%3A%20%3Cresume%20link%20here%3E%0D%0Atwitter%20id%3A%20%3Ctwitter%20id%20here%3E%0D%0Alinkedin%20id%3A%20%3Clinkedin%20id%20here%3E">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
